body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    text-align: center;
    margin: 0;
}

nav {
    background-color: black;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

h1 {
    color: darkblue;
}

p {
    font-size: 18px;
}


form {
    background-color: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
}


input {
    padding: 8px;
    margin: 5px;
}


button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
}


a {
    color: darkblue;
}